<div class="row text-center">
  <div class="col-md-6 col-md-offset-3">
    <h2 id="how-it-works" class="text-center">How it works:</h2>
    <h3>No sign-up, no cost. Start building a contact list that your team will love in 2 minutes or less.</h3>
  </div>

</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <object type="image/svg+xml" class="img-responsive diagram" data="{{ site.base_url }}img/how-it-works.svg">
      <img src="{{ site.base_url }}img/how-it-works.png" alt="No SVG support">
    </object>
  </div>
</div>
