<section class="page-header">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">
      <img class="img-responsive center-block" src="{{ site.base_url }}img/CityBookLogo.png" />
    </div>
  </div>
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a id="get-started-button" class="btn">Get Started</a>
  <a href="{{ site.base_url }}static?key=18YIZlfxxlffHVytbR8zY1cvmKShGOK3z_Cf9JYow4pg&title=CityBook" target="_blank" class="btn">Demo</a>
</section>

<script type="text/javascript">
$(document).ready(function(){
  $('#get-started-button').click(function(){
    $('html, body').animate({
      scrollTop: $("#get-started").offset().top
    }, 500);
  });
})
</script>
