<h2>Step 2: Publish to the Web</h2>
<p>Under the File menu in your spreadsheet, select “Publish to the Web.”</p>
<img style="width:30%;" src="/citybook/img/publish_to_web_small-1.png">
<img style="width:30%;" src="/citybook/img/publish_to_web_button_small.png">
<img style="width:30%;" src="/citybook/img/publish_to_web_url_small.png">
<p>In the next window, click the blue "publish" button. When asked, "Are you sure…?" click OK.</p>
<p>Now, copy the URL that appears in the center of the window. You'll use this in the next step.</p>
