<div class="row">
  <h2>Step 2: Publish to the Web</h2>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Under the File menu in your spreadsheet, select “Publish to the Web.”</p>
    <img class="img-responsive" src="/citybook/img/publish_to_web_small-1.png">
  </div>
  <div class="col-md-4">
    <p>In the next window, click the blue "publish" button. When asked, "Are you sure…?" click OK.</p>
    <img class="img-responsive" src="/citybook/img/publish_to_web_button_small.png">
  </div>
  <div class="col-md-4">
    <p>Now, copy the URL that appears in the center of the window. You'll use this in the next step.</p>
    <img class="img-responsive" src="/citybook/img/publish_to_web_url_small.png">
  </div>
</div>
