<h2>Step 3: Copy/Paste Your Spreadsheet's URL</h2>
<div class="row">
  <div class="col-sm-12">
    <p>Paste your spreadsheet's URL here:</p>
  </div>
  <div class="col-sm-12">
    <div class="input-group">
      <span class="input-group-addon">Spreadsheet URL:</span>
      <input class="form-control" id="spreadsheet-key" style="width:100%" label="Spreadsheet URL" placeholder="Spreadsheet URL" type="text"></input>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <p>Adjust other settings here:</p>
  </div>
  <div class="col-sm-4 col-md-6">
    <div class="input-group">
      <span class="input-group-addon">Title:</span>
      <input class="form-control" id="citybook-title" label="citybook-title" placeholder="Citybook Title" type="text"></input>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="input-group">
      <span class="input-group-addon">Width:</span>
      <input class="form-control text-right" id="citybook-width" label="Height" placeholder="Height" type="text"></input>
      <span class="input-group-addon">%</span>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="input-group">
      <span class="input-group-addon">Height:</span>
      <input class="form-control text-right" id="citybook-height" label="Width" placeholder="Width" type="text"></input>
      <span class="input-group-addon">px</span>
    </div>
  </div>
</div>
