@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

/* + + + + + + + + + + +

GLOBALS

+ + + + + + + + + + + */
body {
  margin:0;
  padding:0;
  display:block;
  max-width:850px;
  margin:auto;
  font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Bree Serif', serif; 
}
.btn {}


/* + + + + + + + + + + +

SEARCH & FILTERS

+ + + + + + + + + + + */
#search {
  margin:2em 0 .5em;
  display: block;
}
#search input {
  width:100%;
  padding:10px;
  border-radius:3px;
  font-size:1em;
  border:1px solid #c0c0c0;
}
#services-filter {}
.btn.service-filter {
  text-transform:uppercase;
  background:transparent;
  color:steelblue;
  border:1px solid steelblue;
  padding:5px;
  font-size:.7em;
  letter-spacing:.1em;
  margin:2px;
  cursor:pointer;
}
.btn.service-filter:hover {
  background:#e5e5e5;
}
.btn.service-filter:focus {
  outline:none;
}
.btn.service-filter.active {
  background:steelblue;
  color:#f6f6f6;
}


/* + + + + + + + + + + +

SERVICE ITEMS

+ + + + + + + + + + + */
#services-list {
  position:relative;
  list-style-type: none;
  margin:0;
  padding:0;
}

.service {
  padding:0 10px;
  background-color:#f6f6f6;
  margin-bottom:10px;
}

/* service data styles */
.service .title {}
.service .description {}
.service .population {}
.service .criteria {}
.service .contact {}
.service .cost {}

/* service categories */
.service .youth {}
.service .housing {}
.service .education {}
.service .pregnancy {}
.service .insurance {}
.service .health-and-wellness {}
.service .emergency-housing-and-shelters {}
.service .families--social-services--seniors {}


/* + + + + + + + + + + +

LOADING SPINNER

+ + + + + + + + + + + */
#loader {
  display:block;
  margin:30px auto;
  text-align:center;
}
#loader.loaded {
  display:none;
}
#loader i {
  font-size:4em;
  color:#e5e5e5;
  margin-bottom:.25em;
}
#loader p {
  text-transform: uppercase;
  font-weight:300;
  letter-spacing:.13em;
  color:#c0c0c0;
}

/* + + + + + + + + + + +

TYPEAHEAD

+ + + + + + + + + + + */
.twitter-typeahead {
  width:100%;
  margin-bottom:1%;
}
.tt-dropdown-menu {
  background-color: white;
  width: 100%;
}
.tt-hint {
  color: #c0c0c0
}
.tt-suggestion {
  margin:0;
  padding: 1px 5px;
  color: black;
  font-size: 14px;
  line-height: 0;
  border: 1px solid #f6f6f6;
  font-family: 'Bree Serif', serif;
}
.tt-suggestion.tt-cursor {
  background-color:steelblue;
  color:#fff;
}
