body {
  margin:0;
  padding:0;
  display:block;
  max-width:850px;
  margin:auto;
}

button:focus {
  outline:none !important;
}

#search {
  margin:2em 0 .5em;
}
#services-filter {}

#services-list {
  position:relative;
  list-style-type: none;
  margin:0;
  padding:0;
}
.service {}
.service div {
  margin-bottom:.5em;
}
.service .youth {}
.service .housing {}
.service .education {}
.service .pregnancy {}
.service .insurance {}
.service .health-and-wellness {}
.service .emergency-housing-and-shelters {}
.service .families--social-services--seniors {}

#loader {
  display:block;
  margin:30px auto;
  text-align:center;
}
#loader.loaded {
  display:none;
}
#loader i {
  font-size:4em;
  color:#e5e5e5;
  margin-bottom:.25em;
}
#loader p {
  text-transform: uppercase;
  font-weight:300;
  letter-spacing:.13em;
  color:#c0c0c0;
}