@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

/* + + + + + + + + + + +

GLOBALS

+ + + + + + + + + + + */
* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
body {
  margin:0;
  padding:0;
  display:block;
  margin:auto;
  font-family: 'Source Sans Pro', sans-serif;
  background: #1fa67a;
}
h1, h2, h3, h4 {
  font-family: 'Bree Serif', serif;
}
a {
  color: #AAAAAA;
}

/* + + + + + + + + + + +

SEARCH & FILTERS

+ + + + + + + + + + + */
.sidebar {
  position: fixed;
  left: 0;
  width: 320px;
  top: 0;
  bottom: 0;
  background: #fff;
  padding: 1px 20px;
}
.sidebar .title {
  margin:-1px -20px 20px;
  background: #188461;
  color: #fff;
  padding: 20px;
}
#search {
  margin:0.5em 0;
}
#search input {
  width:100%;
  padding:10px;
  background: #f6f6f6;
  border: 1px solid #e5e5e5;
  /*border: 3px solid #1fa67a;*/
  border-radius: 0px;
  font-size:1em;
}
#services-filter {
  margin-left: 20px;
}
.service-filter {
  position: relative;
  text-transform:uppercase;
  background: transparent;
  border: 0;
  color: #999;
  padding: 2px 0;
  font-size: .7em;
  letter-spacing: .1em;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
}
.service-filter:before {
  position: absolute;
  content: "-";
  top: 1px;
  left: -12px;
  color: #e5e5e5;
}
.service-filter:hover {
  color:#777;
}
.service-filter:focus {
  outline:none;
}
.service-filter.active {
  font-weight: 900;
  color:#222;
}
.service-filter.active:before {
  content: "\2713";
  color: #2ECC40;
}


/* + + + + + + + + + + +

SERVICE ITEMS

+ + + + + + + + + + + */
#services-list {
  position: absolute;
  left: 320px;
  padding: 20px;
  margin: 0;
  top: 0;
  right: 0;
  background: #1fa67a;
  list-style-type: none;
  padding: 0;
}

.service {
  position: relative;
  padding:5px 10px 1px;
  margin: 20px 20px;
  background-color:#fff;
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.4);
}

.type {
  font-size: 0.7em;
  font-weight: 900;
  color: #999;
}

/* service data styles */
.service .title {
  margin: 0;
  color: #555;
  width: 70%;
}
.service .phone {
  position: absolute;
  top:0;
  right:0;
  max-width:30%;
  background: #f6f6f6;
  padding:10px;
  margin:0;
  color: #999;
}
.service .description {}
.service .population {}
.service .criteria {}
.service .contact {}
.service .cost {}

/* service categories */
.service .youth {}
.service .housing {}
.service .education {}
.service .pregnancy {}
.service .insurance {}
.service .health-and-wellness {}
.service .emergency-housing-and-shelters {}
.service .families--social-services--seniors {}


/* + + + + + + + + + + +

LOADING SPINNER

+ + + + + + + + + + + */
#loader {
  display:block;
  margin: 50px 0px 0px 320px;
  text-align:center;
}
#loader.loaded {
  display:none;
}
#loader i {
  font-size:4em;
  color:#e5e5e5;
  margin-bottom:.25em;
}
#loader p {
  text-transform: uppercase;
  font-weight:300;
  letter-spacing:.13em;
  color:#c0c0c0;
}

/* + + + + + + + + + + +

TYPEAHEAD

+ + + + + + + + + + + */
.twitter-typeahead {
  width:100%;
  margin-bottom:1%;
}
.tt-dropdown-menu {
  background-color: white;
  width: 100%;
}
.tt-hint {
  color: #c0c0c0
}
.tt-suggestion {
  margin:0;
  padding: 1px 5px;
  color: black;
  font-size: 14px;
  border: 1px solid #f6f6f6;
  font-family: 'Bree Serif', serif;
}
.tt-suggestion.tt-cursor {
  background-color:steelblue;
  color:#fff;
}
