$large-break: 64em;
$medium-break: 42em;

.btn-blue {
  background-color: #4776E6;
  color: white;
  border-color: #4776E6;
  box-shadow: 0 2px 0 0 rgba(0,0,0,.1);
  &:hover {
    background-color: rgba(21,87,153, 0.9);
    color: white;
    border-color: rgba(21,87,153, 1);
  }
}

.page-header {

  color: #fff;
  margin: 0;
  background-color: #4776E6;
  background-image: linear-gradient(120deg, #4776E6, #8E54E9);

  .main-logo {
    max-width: 180px;
  }

  @media screen and (min-width: 64em) {
    padding: 8rem 0rem;
    margin-bottom: 3rem;
  }

  @media screen and (min-width: $medium-break) and (max-width: $large-break) {
    padding: 7rem 0rem;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: $medium-break) {
    padding: 2rem 0rem;
    margin-bottom: 1rem;
  }

  .project-name {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.1rem;
    @media screen and (min-width: $large-break) {
      font-size: 4.25rem;
    }
    @media screen and (min-width: $medium-break) and (max-width: $large-break) {
      font-size: 3.25rem;
    }
    @media screen and (max-width: $medium-break) {
      font-size: 4.5rem;
    }
  }

  .project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
      @media screen and (min-width: $large-break) {
        font-size: 2.75rem;
      }
      @media screen and (min-width: $medium-break) and (max-width: $large-break) {
        font-size: 2.5rem;
      }
      @media screen and (max-width: $medium-break) {
        font-size: 2.5rem;
      }
    }

  .btn.btn-header {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  }

  .btn-header:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }

  .demo-phone-speaker {
    margin-right: 5px;
    height: 7px;
    width: 65px;
    display: inline-block;
    position: relative;
    top: 34px;
    border-radius: 3px;
    background-color: #555;
  }

  .demo-phone-camera {
    margin-right: 5px;
    height: 12px;
    width: 12px;
    display: inline-block;
    position: relative;
    top: 36px;
    border-radius: 6px;
    background-color: #555;
  }

  .demo-iframe {
    border-top: 50px solid #eee;
    border-left: solid 5px #eee;
    border-right: solid 5px #eee;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

    -webkit-box-shadow: 0px 4px 20px 0px #451e85;
    -moz-box-shadow: 0px 4px 20px 0px #451e85;
    box-shadow: 0px 4px 20px 0px #451e85;
  }

  .demo-spreadsheet-image {
    position: absolute;
    overflow: hidden;
    max-height: 600px;
  }

  .iframe-container {
    background-image: url('../img/spreadsheet.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
}


.how-it-works {
  h2, h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #4776E6;
  }
}



.instruction-step {

  margin-top: 8rem;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #efefef;
  h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #4776E6;

    &.step-number {
      color: white;
      background-color: #4776E6;
      width: 75px;
      height: 75px;
      padding-top: 18px;
      padding-left: 27px;
      border-radius: 50%;
    }

  }
  p {
    font-size: 2rem
  }

  .input-group {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
