//Main Styles

@media (max-width: 768px){
  .container {
    width: 100%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

$breakpoints: (
  'mobile':  320px,
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.results-list {
  padding: 0;

  h1 {
    margin-top: 10px;
  }
  h4 {
    font-weight: normal;
    margin-bottom: 20px;

  }

  blockquote {
    border-left: 5px solid #ccc;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
  .panel {

    p {
      margin: 0;
    }

    .result-title {
      margin-top: 0.2em;
      margin-bottom: 0.2em;
      font-size: 1.5em;
    }

    .panel-body {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .button-container:last-child {
      .card-button {
        border-right: 0px;
        border-radius: 0px 0px 4px 0px;
      }
    }
    .button-container:first-child {
      .card-button {
        border-radius: 0px 0px 0px 4px;
      }
    }
    .button-container {
      padding-left: 0px;
      padding-right: 0px;

      .card-button {
        border-right: 1px solid #ccc;
        border-radius: 0px;
        border-left: 0px;
        border-bottom: 0px;
      }
    }

    .more-info {
      border: none;
      margin-bottom: 0px;

      .list-group {
        margin-bottom: 0px;

        .list-group-item {
          border-left: 0px;
          border-right: 0px;
          border-bottom: 0px;
          border-top: 1px solid #ddd;
        }
      }
      .panel-body {

        padding: 0px;
      }
    }
  }
}

.typeahead-selector {
  position: absolute;
  opacity: 0.98;
  z-index: 9000;
  min-width: 300px;
  width: 100%;
}

.typeahead {
  position:relative;
}

.typeahead-selector {
  .list-group-item.hover, .list-group-item:hover {
    background-color: #bbb;
  }
}

.Dropdown-root {
    vertical-align: middle;
    position: relative;
}

.Dropdown-control {
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
}

.Dropdown-option {
    box-sizing: border-box;
    color: rgba(51,51,51,0.8);
    cursor: pointer;
    display: block;
    padding: 8px 10px;

    &:hover {
      background-color: #f2f9fc;
      color: #333;
    }
}

.Dropdown-menu {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0,0,0,0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}

.result-filters {
  margin-top: 75px;
  margin-bottom: 10px;
  @media (max-width: 768px) {
    margin-top: 65px;
  }
}

.form-control {
  font-size: 16px;
}

.citybook-header {
  .navbar-brand {
    color: #fff;
  }
  .navbar-nav>li>a {
    color: #fff;
  }
  background-color: #4776E6;
  width: 100%;
  z-index: 1000;
  a {
    font-weight: bold;
  }


}

.main-search {
  width: 50%;
  .form-group {
    font-size: 16px;
    width: 100%;
    input {
      width: 100%;
    }
  }
  @media(max-width: 768px) {
    width: inherit;
    padding: 10px 30px;

    &.navbar-form {
      border: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}
